@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

.main-container{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    background: linear-gradient(0deg, rgba(255,255,255,1) 8%, rgba(0,0,0,1) 98%);
}

/* ========== Heading ========== */

.header-container{
    background-color: rgb(29, 28, 27);
    margin-bottom: 3rem;
}

.heading{
    color: orange;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

/* ========== Loading box ========== */

.loading-container{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.loading-text{
    padding: .8rem 14rem;
    text-align: center;
    border: orange 1px solid;
    color: orange;
    font-size: 1.1rem;
}

/* ========== Form ========== */

.form-container{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.form{
    display: flex;
    padding: 2rem;
    background-color: rgb(46, 45, 45);
    box-shadow: 10px 10px 30px #7d7d83, inset -10px -10px 10px rgb(29, 29, 29), inset 10px 10px 10px #5b5c5c;
    border-radius: 1rem;
}

.form-control{
    margin: 1rem;
}

.fas{
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
    text-align: center;
    color: #f0f0f3;
}

.input{
    width: 20rem;
    padding: 0.7rem;
    font-size: 1.1rem;
    outline: none;
    color: #f0f0f3;
    background-color: rgb(46, 45, 45);
}

/* ========== Button ========== */

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 5rem;
    height: 5rem;
    margin: 0 2rem;
    text-transform: uppercase;
    background-color: transparent;
    color: #5e5e5f;
    border-radius: 50%;
    border: none;
    box-shadow: 5px 5px 10px #000000, 5px 5px 10px #000000, -5px -5px 10px #39393a, inset -10px -10px 10px rgb(29, 29, 29), inset 10px 10px 10px #5b5c5c;
    outline: none;
    cursor: pointer;
    transition: all ease 0.5s;
}

.loading-btn{
    font-size: 0;
    border: orange solid 3px;
    border-left-color: transparent;
    animation: rotate 1.1s ease 0.5s infinite;
    box-shadow: none;
    box-shadow: 5px 5px 5px #e7aa38;
}

@keyframes rotate{
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg);
    }
}
/* ========== Cards ========== */

.cards-container{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    padding: 3rem;
}

.card{
    position: relative;
    min-width: 20rem;
    height: 26rem;
    display: flex;
    align-items: center;
    margin: 3rem 5rem;
    box-shadow: -10px -10px 25px rgb(112, 111, 111),  10px 10px 30px #636363;
    border-radius: 1rem;
    background: #f0f0f3;
    transition: all .2s ease-in-out;
}

.card:hover { 
    transform: scale(1.1); 
}

.img-container{
    position: absolute;
    width: 17rem;
    height: 18rem;
    top: 1rem;
    right: 1rem;
    border-radius: 1rem;
    box-shadow: inset -10px -10px 10px #141414, inset 10px 10px 10px #141414;
}

.info-list{
    position: absolute;
    width: 20rem;
    left: -2rem;
    padding: 1.5rem 0 1rem 2rem;
    background: #f0f0f3;
    box-shadow: 0px 10px 30px #AEAEC0, inset -10px -10px 10px #bfc3c4, inset 10px 10px 10px #fff;
    border-radius: 1rem;
    border-left-style: double;
    border-color: orange;
    z-index: 5;  
}

.li-wrapper{
    display: flex;
    align-items: baseline;
}

.li-title{
    width: 3rem;
    font-weight: 600;
    color: rgb(2, 48, 40);
}

.list-items{
    margin-left: 2rem;
    padding-bottom: 1rem;
}

.input-value{
    font-size: 1.1rem;
    color: #535353;
}

@media screen and (max-width: 48rem){
    .form{
        display: block;
        padding: .5rem ;  
    }

    .input-wrapper{
        padding-bottom: 1rem;
    }

    .btn-container{
        margin-bottom: 1.5rem;
     }
}

@media screen and (max-width: 30rem){
    .input{
        width: 15rem;
        padding: 0.9rem;
        font-size: 1.1rem;
   
    }

    .heading{
        font-size: 1.5rem;
    }

    .info-list{
        left: -1rem;
    }
}